h1, p {
    margin: 20px auto;
    width: 80%;
    color: whitesmoke;
}
h1 {
    height: 60px;
    background-color: tomato;
    text-align: center;
    font-size: 50px;
}

p {
    background-color: orange;
    font-size: 22px;
}

span {
    background-color: chocolate;
    color: chartreuse;
}

.block {
    display: block;
    width: 180px;
    background-color: darkcyan ;
}