body {
    font-family: Helvetica, sans-serif;
    background-color: lightgray;
}
.main {
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    background-color: white;
}
img {
    width: 300px;
}
a {
    color: tomato;
    font-family: monospace;
    font-size: 20px;
    font-weight: 800;
    padding-right:20px;
}
label {
    display: inline-block;
    margin: 5px 0;
    font-weight: 600;
}
input, textarea {
    display: block;
    padding: 5px;
    border: 1px solid cornflowerblue;
}
.form-button {
    border: none;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
}