body {
    font-size: 22px;
    font-family: serif;
}
div {
    background-color: lightgray;
    color: white;
}
span {
    font-size: 32px;
    color: crimson;
    font-weight: 600;
}
img {
    width: 80px;
}